---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dukc :: about">
  <div class="bg-black w-full h-fit flex items-center justify-center">
    <h1 class="font-serif text-[37vw] leading-none">about</h1>
  </div>
  <div class="grid grid-cols-3 max-[900px]:grid-cols-1 max-[900px]:grid-rows-3">
    <div class="p-32 flex flex-col gap-12 bg-g w-full h-full">
      <h4 class="text-h4 font-bold text-black">Overview</h4>
      <p class="text-body leading-[210%] text-black">
        I am a self-taught thirteen year old designer and web developer. In
        design, I specialize in user-interface design, but I also can do general
        graphic design, brand design, motion graphics, and some 3D. I learned
        this stuff just by playing around with the software myself, searching
        for inspiration to learn from other designers, and searched for help if
        I needed it. For coding, I have mastered Tailwind CSS, and once I finish
        your future website design in Figma, I could easily apply it to any
        framework in a couple hours.
      </p>
    </div>

    <div class="p-32 flex flex-col gap-12 bg-r w-full h-full">
      <h4 class="text-h4 font-bold text-black">Skills</h4>
      <h5 class="text-h5 font-medium text-black">Programs</h5>
      <p class="text-body leading-[210%] text-black">
        Figma, Visual Studio Code, Git, Affinity Designer, Blender, Notion,
        Discord, Davinci Resolve, After Effects, OBS
      </p>
      <h5 class="text-h5 font-medium text-black">Languages/Frameworks</h5>
      <p class="text-body leading-[210%] text-black">
        JavaScript, HTML, CSS, Tailwind CSS, React, Astro, Next.js, Vue,
        Nuxt.js, Python
      </p>
      <h5 class="text-h5 font-medium text-black">Other Interests</h5>
      <p class="text-body leading-[210%] text-black">
        Photography, architecture, video editing, trombone
      </p>
    </div>

    <div class="p-32 flex flex-col gap-12 bg-b w-full h-full">
      <h4 class="text-h4 font-bold text-white mix-blend-difference">More</h4>
      <p class="text-body leading-[210%] text-white mix-blend-difference">
        I am a self-taught young designer and front-end web developer. In
        design, I specialize in user-interface design, but I also can do general
        graphic design, brand design, motion graphics, and some 3D. I learned
        this stuff just by playing around with the software myself, searching
        for inspiration to learn from other designers, and searched for help if
        I needed it. For coding, I have mastered Tailwind CSS, and once I finish
        your future website design in Figma, I could easily apply it to any
        framework in a couple hours.
      </p>
    </div>
  </div>
</Layout>
