---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dukc :: about">
  <div class="bg-black w-full h-fit flex items-center justify-center">
    <h1 class="font-serif text-[37vw] leading-none">about</h1>
  </div>
  <div class="grid grid-cols-3 max-[900px]:grid-cols-1 max-[900px]:grid-rows-3">
    <div class="p-32 flex flex-col gap-12 bg-g w-full h-full">
      <h4 class="text-h4 font-bold text-black">Overview</h4>
      <p class="text-body leading-[210%] text-black">
        I am a self-taught creative designer and web developer. In design, I
        specialize design, I specialize in user-interface design, but I also can
        do general graphic design, brand design, motion graphics, and some 3D. I
        learned this stuff just by playing around with the software myself,
        searching for inspiration to learn from other designers, and searched
        for help if I needed it. For coding, I have mastered Tailwind CSS, and
        once I finish your future website design in Figma, I could easily apply
        it to any framework in a couple hours. I am also learning Rust, and I'm
        trying to learn how to use it to rewrite my projects in a more
        performant way.
      </p>
    </div>

    <div class="p-32 flex flex-col gap-12 bg-r w-full h-full">
      <h4 class="text-h4 font-bold text-black">Skills & Interests</h4>
      <h5 class="text-h5 font-medium text-black">Programs</h5>
      <p class="text-body leading-[210%] text-black">
        Figma, Visual Studio Code, Git, Blender, Davinci Resolve, After Effects,
        OBS, Notion, Discord
      </p>
      <h5 class="text-h5 font-medium text-black">Languages/Frameworks</h5>
      <p class="text-body leading-[210%] text-black">
        TypeScript, HTML, CSS, Tailwind CSS, Astro, React, Next.js, Vue,
        Nuxt.js, Python, Rust
      </p>
      <h5 class="text-h5 font-medium text-black">Other Interests</h5>
      <p class="text-body leading-[210%] text-black">
        Photography, architecture, video editing, operating system architecture,
        experiemtal design & music, cycling, did mention I use Arch btw?
      </p>
    </div>

    <div class="p-32 flex flex-col gap-12 bg-b w-full h-full">
      <h4 class="text-h4 font-bold text-white mix-blend-difference">Story</h4>
      <p class="text-body leading-[210%] text-white mix-blend-difference">
        I always had a passion for design, even when I was very young. I was
        drawing user interfaces on paper laptops at like 7, and my parents
        introduced me to creative skills such as painting, and then video
        editing, music production, and 3D modelling at 9. Then I went further,
        teaching myself HTML, and CSS at 10. I kept learning, and today I have a
        passion for graphic design, concepts, and web development. I never was
        religious, but recently I learned the truth, we're all sinners,
        deserving hell. But why would God let us go there? The thing is, He gave
        us a way out of our deserved punishment, and that is Jesus. I want to
        make the truth known, so that is why I am developing Bibleio.
      </p>
    </div>
  </div>
</Layout>
