---
import HyperlinkButton from "../components/ui/HyperlinkButton";
import IndexHorizontalScroll from "../components/ui/IndexHorizontalScroll";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";

const allProjects = await getCollection("projects");
allProjects.sort((a, b) => {
  const dateA = Date.parse(a.data.date);
  const dateB = Date.parse(b.data.date);
  return dateA > dateB ? -1 : dateA < dateB ? 1 : 0;
});
async function getOptimizedProjectImage(image) {
  return await getImage({src: image, width: 1080, height: 1080, format: "webp"})
}
---

<Layout title="dukc :: index">
  <script>
    import { gsap } from "gsap"; 
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { Observer } from "gsap/Observer";

    gsap.registerPlugin(ScrollTrigger, Observer) 
    document.addEventListener("DOMContentLoaded", () => {
      
      gsap.from(".landingBox", {
        duration: 3,
        y: 1080,
        stagger: 0.15,
        ease: "power4.inOut",
      });
      gsap.from(".landingText", {
        duration: 3,
        opacity: 0,
        ease: "power4.inOut",
      });
      gsap.from(".index-page-item", {
        duration: 1,
        scale: 0.75,
        opacity: 0,
        stagger: 0.05,
        ease: "power4.out",
        scrollTrigger: '.index-page-content'
      });
      document.querySelectorAll(".index-page-item").forEach((element) => {
        element.addEventListener("mouseover", () => {
          gsap.to(element, { scale: 1.05, duration: 0.5, ease: "power4.out" });
          // @ts-ignore
          element.style.zIndex = "40"
        })
      })
     document.querySelectorAll(".index-page-item").forEach((element) => {
        element.addEventListener("mouseout", () => {
          gsap.to(element, { scale: 1, duration: 0.5, ease: "power4.out" });
          // @ts-ignore
          element.style.zIndex = "0"
        })
      })
  });
  </script>
  <div class="h-screen w-screen flex items-center justify-center -z-20">
    <h1
      class="fixed text-[45vw] font-serif leading-none text-white mix-blend-difference -z-10 landingText"
    >
      dukc
    </h1>
    <div class="w-full h-full bg-r -z-20 landingBox"></div>
    <div class="w-full h-full bg-g -z-20 landingBox"></div>
    <div class="w-full h-full bg-b -z-20 landingBox"></div>
  </div>
  <IndexHorizontalScroll client:load />
  <div
    class="grid grid-cols-3 max-[920px]:grid-cols-1 h-fit max-[920px]:grid-rows-2 bg-black grid-flow-col-dense index-page-content"
  >
    <div
      class="grid grid-rows-3 grid-cols-2 max-[920px]:grid-cols-1 max-[920px]:grid-rows-[repeat(auto)] col-span-2 h-fit"
    >
      {
        allProjects
          .filter((project) => project.data.featured)
          .map(async (project) => {
            return (
              <a
                href={`/project/${project.slug}`}
                class={`p-32 flex flex-col justify-end gap-12 h-[340px] bg-cover bg-center index-page-item`}
                style={`background-image: url("${(await getOptimizedProjectImage(project.data.image)).src}");`}
              >
                <h3 class="text-h3 font-bold text-white mix-blend-difference">
                  {project.data.title}
                </h3>
              </a>
            );
          })
      }
      <a
        href={`/projects`}
        class={`bg-r p-32 flex flex-col justify-end gap-12 h-[340px] bg-cover bg-center index-page-item`}
      >
        <h3 class="text-h3 font-bold text-white mix-blend-difference">
          All Projects
        </h3>
      </a>
    </div>
    <div class="grid grid-rows-2 max-[920px]:h-fit">
      <div
        class="bg-g p-32 flex flex-col gap-12 justify-center max-[920px]:h-full text-black index-page-item"
      >
        <h3 class="text-h3 font-bold">About</h3>
        <p class="text-body leading-[200%]">
          I am a versatile designer, specializing in UI design, web design,
          brand design, and 3D design. I am also a front-end web developer, able
          to quickly apply a Figma design into a simple static website in a
          couple hours.
        </p>
        <HyperlinkButton text="View full bio" link="/about" />
      </div><div
        class="bg-b p-32 flex flex-col gap-12 justify-center max-[920px]:h-full text-white index-page-item"
      >
        <h3 class="text-h3 font-bold mix-blend-difference">Contact</h3><p
          class="text-body leading-[200%] mix-blend-difference"
        >
          I'll make you a UI design, web design, or a web design including a
          full static website.
        </p>
        <HyperlinkButton text="Contact" link="/contact" colour="yellow" />
      </div>
    </div>
  </div>
</Layout>
