---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dukc :: organizations">
  <div class="bg-black w-full h-fit flex items-center justify-center">
    <h1 class="font-serif text-[16vw]">organizations</h1>
  </div>
  <div class="flex flex-col h-fit">
    <a
      href="https://www.bibleio.com"
      target="_blank"
      class="bg-[url('/projects/metallic-09.jpg')] group bg-cover bg-center p-32 flex gap-12 justify-start items-end w-full h-256 border-b-[5px] hover:border-b-[25px] duration-200 ease-out border-b-white"
    >
      <h3
        class="text-h3 max-[800px]:text-h4 font-bold text-white mix-blend-difference"
      >
        Bibleio
      </h3>
      <p
        class="text-body text-white mix-blend-difference opacity-0 group-hover:opacity-100 duration-200 ease-out mb-24"
      >
        Useful tools to connect with the Bible.
      </p>
    </a>
    <a
      href="https://github.com/SlateSoftware"
      target="_blank"
      class="bg-[url('/projects/twilight-04.jpg')] group bg-cover bg-center p-32 flex gap-12 justify-start items-end w-full h-256 border-b-[5px] hover:border-b-[25px] duration-200 ease-out border-b-white"
    >
      <h3
        class="text-h3 max-[800px]:text-h4 font-bold text-white mix-blend-difference"
      >
        Slate
      </h3>
      <p
        class="text-body text-white mix-blend-difference opacity-0 group-hover:opacity-100 duration-200 ease-out mb-24"
      >
        Sleek open source software & concepts.
      </p>
    </a>
    <a
      href="https://www.duckyhq.com"
      target="_blank"
      class="bg-[url('/projects/neon-05.jpg')] group bg-cover bg-center p-32 flex gap-12 justify-start items-end w-full h-256 border-b-[5px] hover:border-b-[25px] duration-200 ease-out border-b-white"
    >
      <h3
        class="text-h3 max-[800px]:text-h4 font-bold text-white mix-blend-difference"
      >
        DuckyHQ
      </h3>
      <p
        class="text-body text-white mix-blend-difference opacity-0 group-hover:opacity-100 duration-200 ease-out mb-24"
      >
        Unique open source software for the world.
      </p>
    </a>
    <a
      href="https://alive.duckyhq.com"
      target="_blank"
      class="bg-[url('/projects/umbra-11.jpg')] group bg-cover bg-center p-32 flex gap-12 justify-start items-end w-full h-256 border-b-[5px] hover:border-b-[25px] duration-200 ease-out border-b-white"
    >
      <h3
        class="text-h3 max-[800px]:text-h4 font-bold text-white mix-blend-difference"
      >
        Alive
      </h3>
      <p
        class="text-body text-white mix-blend-difference opacity-0 group-hover:opacity-100 duration-200 ease-out mb-24"
      >
        Innovative gaming / media experiences.
      </p>
    </a>
  </div>
</Layout>
