---
import "../styles/base.css";
import "@fontsource-variable/manrope";
import "@fontsource-variable/bodoni-moda/opsz.css";
import SmoothScrolling from "../components/SmoothScrolling";
import NavDock from "../components/ui/NavDock";
import HyperlinkButton from "../components/ui/HyperlinkButton";
interface Props {
  title: string;
}

const { title } = Astro.props;
const currentUrl = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-black text-white overflow-x-hidden font-sans selection:bg-white selection:text-black"
  >
    <SmoothScrolling client:load>
      <NavDock client:load currentUrl={currentUrl} />
      <div id="swup" class="transition-overlay"><slot /></div>
      <footer
        class="p-32 pb-72 bg-black flex max-[850px]:flex-col max-[850px]:gap-y-24 justify-between"
      >
        <h1 class="font-bold font-serif text-[86px] leading-none">dukc</h1>
        <p class="text-body">may 2024</p>
        <p class="text-body">website v6</p>
        <HyperlinkButton
          link="https://github.com/dukcc/v2-dukc.dev"
          colour="white"
          text="view source"
          newTab
        />
        <div class="flex gap-16 max-[850px]:gap-32">
          <a
            href="https://www.youtube.com/@dukkcc"
            target="_blank"
            class="hover:scale-105 active:scale-95 duration-200 ease-out h-fit w-fit"
            aria-label="YouTube"
            ><svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.4612 5.67724C29.8415 6.05075 30.9198 7.12901 31.2933 8.50934C32.3502 12.7636 32.106 19.4827 31.3138 23.9012C30.9403 25.2815 29.862 26.3597 28.4817 26.7333C25.9985 27.4105 16.0041 27.4105 16.0041 27.4105C16.0041 27.4105 6.00964 27.4105 3.52642 26.7333C2.14609 26.3597 1.06784 25.2815 0.694327 23.9012C-0.368735 19.6653 -0.0773167 12.9422 0.673804 8.52986C1.04732 7.14953 2.12557 6.07128 3.5059 5.69776C5.98912 5.02052 15.9835 5 15.9835 5C15.9835 5 25.978 5 28.4612 5.67724ZM21.0937 16.2052L12.8026 21.0075V11.403L21.0937 16.2052Z"
                fill="white"></path>
            </svg>
          </a>
          <a
            href="https://discord.gg/UWCJbNVrKh"
            target="_blank"
            class="hover:scale-105 active:scale-95 duration-200 ease-out h-fit w-fit"
            aria-label="Discord"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_710_75)">
                <path
                  d="M27.107 6.07458C25.0356 5.10541 22.8208 4.40106 20.5052 4C20.2208 4.51415 19.8886 5.20569 19.6595 5.7558C17.198 5.38562 14.7591 5.38562 12.3429 5.7558C12.1139 5.20569 11.7741 4.51415 11.4871 4C9.16908 4.40106 6.95167 5.108 4.88026 6.07971C0.70219 12.3933 -0.430415 18.5501 0.135889 24.6195C2.907 26.6889 5.59255 27.946 8.23277 28.7686C8.88465 27.8714 9.46605 26.9177 9.9669 25.9125C9.013 25.5501 8.09937 25.1028 7.2361 24.5835C7.46512 24.4138 7.68914 24.2364 7.90557 24.0539C13.1709 26.5166 18.8919 26.5166 24.0943 24.0539C24.3133 24.2364 24.5373 24.4138 24.7638 24.5835C23.898 25.1053 22.9818 25.5526 22.0279 25.9151C22.5288 26.9177 23.1077 27.874 23.7621 28.7711C26.4048 27.9485 29.0929 26.6915 31.864 24.6195C32.5285 17.5835 30.7289 11.4833 27.107 6.07458ZM10.6842 20.8869C9.10363 20.8869 7.8074 19.4113 7.8074 17.6144C7.8074 15.8175 9.07595 14.3393 10.6842 14.3393C12.2926 14.3393 13.5887 15.8149 13.5611 17.6144C13.5636 19.4113 12.2926 20.8869 10.6842 20.8869ZM21.3157 20.8869C19.735 20.8869 18.4388 19.4113 18.4388 17.6144C18.4388 15.8175 19.7073 14.3393 21.3157 14.3393C22.9239 14.3393 24.2202 15.8149 24.1925 17.6144C24.1925 19.4113 22.9239 20.8869 21.3157 20.8869Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_710_75">
                  <rect width="32" height="32" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a
            href="https://github.com/dukcc"
            target="_blank"
            class="hover:scale-105 active:scale-95 duration-200 ease-out h-fit w-fit"
            aria-label="GitHub"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_710_83)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16 0C7.16 0 0 7.16 0 16C0 23.08 4.58 29.06 10.94 31.18C11.74 31.32 12.04 30.84 12.04 30.42C12.04 30.04 12.02 28.78 12.02 27.44C8 28.18 6.96 26.46 6.64 25.56C6.46 25.1 5.68 23.68 5 23.3C4.44 23 3.64 22.26 4.98 22.24C6.24 22.22 7.14 23.4 7.44 23.88C8.88 26.3 11.18 25.62 12.1 25.2C12.24 24.16 12.66 23.46 13.12 23.06C9.56 22.66 5.84 21.28 5.84 15.16C5.84 13.42 6.46 11.98 7.48 10.86C7.32 10.46 6.76 8.82 7.64 6.62C7.64 6.62 8.98 6.2 12.04 8.26C13.32 7.9 14.68 7.72 16.04 7.72C17.4 7.72 18.76 7.9 20.04 8.26C23.1 6.18 24.44 6.62 24.44 6.62C25.32 8.82 24.76 10.46 24.6 10.86C25.62 11.98 26.24 13.4 26.24 15.16C26.24 21.3 22.5 22.66 18.94 23.06C19.52 23.56 20.02 24.52 20.02 26.02C20.02 28.16 20 29.88 20 30.42C20 30.84 20.3 31.34 21.1 31.18C27.42 29.06 32 23.06 32 16C32 7.16 24.84 0 16 0Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_710_83">
                  <rect width="32" height="32" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a
            href="https://www.twitch.tv/dukcccc"
            target="_blank"
            class="hover:scale-105 active:scale-95 duration-200 ease-out h-fit w-fit"
            aria-label="Twitch"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_710_91)">
                <path
                  d="M2.78595 0L0.699951 5.566V27.826H8.34795V32H12.524L16.694 27.824H22.954L31.2999 19.48V0H2.78595ZM5.56595 2.78H28.52V18.086L23.65 22.956H16L11.83 27.126V22.956H5.56595V2.78Z"
                  fill="white"></path>
                <path
                  d="M13.22 16.696H16V8.35H13.22V16.696ZM20.868 16.696H23.648V8.35H20.868V16.696Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_710_91">
                  <rect width="32" height="32" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a
            href="https://www.behance.net/duckyhq"
            target="_blank"
            class="hover:scale-105 active:scale-95 duration-200 ease-out h-fit w-fit"
            aria-label="Behance"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.31142 5.94262C10.1728 5.92488 11.0328 6.02135 11.8688 6.2295C12.6475 6.36885 13.2868 6.65573 13.8606 7.00819C14.4293 7.36305 14.8756 7.8837 15.1393 8.5C15.4361 9.21944 15.5812 9.99239 15.5655 10.7705C15.5655 11.7541 15.3524 12.6147 14.8524 13.2541C14.4262 13.8934 13.7049 14.459 12.8606 14.8934C13.9491 15.1703 14.9045 15.8237 15.5573 16.7377C16.1311 17.5902 16.4836 18.6557 16.4836 19.8525C16.4977 20.7374 16.304 21.6134 15.918 22.4098C15.5569 23.1244 15.0212 23.7362 14.3606 24.1885C13.6677 24.6477 12.899 24.9807 12.0901 25.1721C11.2545 25.3897 10.3961 25.508 9.53273 25.5246H0.0245361V5.94262H9.31142ZM8.73765 13.8934C9.51634 13.8934 10.1557 13.6803 10.6557 13.3197C11.1557 12.959 11.3688 12.3361 11.3688 11.541C11.3809 11.1503 11.3082 10.7616 11.1557 10.4016C11.0163 10.1147 10.8032 9.90983 10.5163 9.68852C10.2295 9.54918 9.94257 9.40164 9.59011 9.33606C9.23765 9.27049 8.87699 9.25409 8.44257 9.25409H4.34421V13.8688L8.73765 13.8934ZM8.94257 22.2951C9.34775 22.2874 9.75125 22.2408 10.1475 22.1557C10.4993 22.086 10.8324 21.9426 11.1249 21.7349C11.4173 21.5273 11.6625 21.26 11.8442 20.9508C11.9836 20.5984 12.1311 20.1721 12.1311 19.6721C12.1311 18.6885 11.8442 17.9672 11.2786 17.459C10.7049 17.0328 9.92618 16.8197 9.00814 16.8197H4.33601V22.2869L8.94257 22.2951ZM22.6557 22.2131C23.2295 22.7869 24.0737 23.0656 25.2131 23.0656C25.937 23.075 26.6484 22.8758 27.2622 22.4918C27.7394 22.1841 28.1112 21.7379 28.3278 21.2131H31.8114C31.2376 22.918 30.3934 24.1229 29.254 24.9016C28.1065 25.6147 26.7704 26.0492 25.1311 26.0492C24.0856 26.0535 23.0485 25.8616 22.0737 25.4836C21.1993 25.1571 20.4193 24.6192 19.8032 23.918C19.1401 23.269 18.6522 22.4624 18.3852 21.5738C18.0295 20.5947 17.8599 19.5578 17.8852 18.5164C17.8852 17.4508 18.0245 16.4672 18.377 15.5328C18.7166 14.6395 19.2228 13.819 19.8688 13.1147C20.5179 12.4517 21.2888 11.9201 22.1393 11.5492C23.0883 11.1699 24.1009 10.9751 25.1229 10.9754C26.3278 10.9754 27.3934 11.1885 28.3196 11.6885C29.2458 12.1885 29.959 12.7541 30.5327 13.6066C31.1128 14.4241 31.5455 15.3368 31.8114 16.3033C31.9508 17.2869 32.0245 18.2951 31.9508 19.418H21.6721C21.646 20.4314 21.9965 21.4184 22.6557 22.1885V22.2131ZM27.1311 14.7541C26.6393 14.2623 25.8524 13.9754 24.918 13.9754C24.2786 13.9754 23.7704 14.1147 23.3606 14.3279C22.9508 14.541 22.6475 14.8197 22.377 15.1066C22.1229 15.381 21.9523 15.7222 21.8852 16.0902C21.8196 16.4344 21.7458 16.7295 21.7458 17.0164H28.1393C28.0698 16.1713 27.7093 15.3743 27.1311 14.7541ZM20.9016 7.29508H28.8524V9.21311H20.9016V7.29508Z"
                fill="white"></path>
            </svg>
          </a>
        </div>
      </footer>
    </SmoothScrolling>
  </body>
</html>
